* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  background: #111;

}
html {
  scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dropdown Header */

.dropbtn {
  background-color: transparent;
  color: white;
  margin: 5px 0 0 20px;
  font-size: 0.9em;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("https://www.wallpapertip.com/wmimgs/40-401532_779580-title-fantasy-dragon-city-ruin-fire-wyvern.jpg")
    no-repeat center center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}
.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  line-height: 0;
  color: red;
  top: 25px;
}
.logo:before {
  content: "\00BB";
  left: 20px;
}
.logo:after {
  content: "\00AB";
  left: 34px;
}

/* Text */
section {
  width: 100%;
  margin: 15px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
  color: #FF0000;
  text-shadow: 1px 1px rgb(255, 177, 177);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  margin-bottom: 3%;
}

/*  */
main {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding-top: 5%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 10%;
}
.picture-holder {
  display: block;
  max-width: 30%;
  transition: transform 0.3s; /* Animation */
  margin: 0 auto;
}
.picture-holder:hover {
  transform: scale(1.2);
}

/* Instagram */
a img {
  margin: 25px;
}

/* Footer */

.footer-bg {
  height: 100px;
  width: 100%;
  background-color: rgb(34, 34, 34);
  width: 100%;
  color: white;
  text-align: center;
}

footer {
  clear: both;
  position: bottom;
}

.footer-images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10%;
  margin-left: auto;
  margin-right: auto;
}
.github-logo {
  position: relative;
  top: 75%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 70px;
}
.insta-logo {
  position: relative;
  top: 75%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 70px;
}
