* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  background: #111;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header */
header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("https://www.wallpapertip.com/wmimgs/40-401532_779580-title-fantasy-dragon-city-ruin-fire-wyvern.jpg")
    no-repeat center center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.1em;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inner h1 {
  font-size: 4em;
}

.inner p {
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

/* Navigation Bar */
nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  width: 100%;
  gap: 3%;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: red;
}

.logo img{
width: 12.5%;
margin: 2%;
border-radius: 1vh;
padding: 2.5%;
border: solid 2px red;
box-shadow: 10px 10px 10px red;
}

/* Main Layout */
main {
  padding-top: 5%;
  margin-bottom: 5%;
}

/* Home Page */
.about-wyvern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  width: 100%;
  gap: 8rem;
  font-size: 1.2em;
  color: #FF0000;
  text-shadow: 1px 1px rgb(255, 177, 177);
}

.parent {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.picture-holder {
  width: 30%;
  transition: transform 0.3s; /* Animation */
}
.picture-holder:hover {
  transform: scale(1.2);
}

/* Team Page */
.team-wyvern {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 8rem;
  font-size: 1.2em;
  color: #FF0000;
  text-shadow: 1px 1px rgb(255, 177, 177);
}

.member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  gap: 20rem;
}

.portret-holder img{
  width: 100%;
  border-radius: 3vh;
}

.team-discription {
  display: flex;
  justify-content: center;
}

.team-discription article {
  width: 20rem;
  font-size: 1.5rem;
}

/* Robot Page */
.robot-wyvern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8rem;
  color: #FF0000;
  text-shadow: 1px 1px rgb(255, 177, 177);
}

.box-robot {
  width: 45%;
  padding: 2%;
  background-color: #34363e;
  border-radius: 2vh;
  color: #fff;
  text-shadow: none;
}


/* Behind The Scenes Page */
#instafeed-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 5%;
}

#instafeed-container a {
  display: flex;
  justify-content: center;
  width: 40%;
}

#instafeed-container a img{
  max-width: 50%;
}

#instafeed-container a img:hover {
  transform: scale(1.2);
  transition: transform 0.3s; /* Animation */ 
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(34, 34, 34);
  color: #fff;
  padding: 2%;
  gap: 2rem;
}

.footer-top {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 20%;
}

.footer-top h3 {
  font-size: 1.2em;
  color: red;
  text-shadow: 1px 1px rgb(255, 177, 177);
}

.links-footer, .contact-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links-footer ul, .contact-footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
}

.links-footer a, .socials a {
  color: #fff;
  text-decoration: none;
}

.links-footer a:hover {
  color: red;
}

.footer-below {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
}

.copyright {
  display: flex;
}

strong {
  color: red;

}

.socials ul {
  display: flex;
  flex-direction: row;
  gap: 75%;
  list-style-type: none;
  font-size: 2em;
}